# IDE-specific
.idea
.vscode

# Client ID/Secret File
info.txt

# Output folder
Output

# Virtual Environment
venv

# __pycache__ folders
__pycache__
app/helpers/__pycache__
app/helpers/parsers/__pycache__

# mypy
.mypy_cache

# TODO file
todo